*{
    box-sizing: border-box;
    margin: 3px;
    padding: 3px;
   } 
@media (min-width: 600px) {

}
@media (max-width: 600px) {}

header {
    background-color: rgb(26, 25, 25);
    color: white;
    
}

nav{
    border-color: 1px red
}
.topheaderpic img{ 
    width: 375px;
    height: 325px;


}
 .topheaderpic {
    position: relative;
    display: inline-block;


}
.titleSize {
    width: 80%;
    border-color: purple;
}
.title{
    width: 100%;
    font-size: 5.5em;
    border-color: orange;
} 
#jobtitle {
font-size: 2.5rem;
}
#contactinfo {
    font-size: 75%;
}


header {
    display: flex;
    border-color: orchid;
}
#dropdown {
    position: relative;
    display: inline-block;
}


.navmenu {
    display: none; 
    
    list-style-type: none;
    margin: auto;
    justify-content: flex-start;
    justify-content: space-evenly;
    border-color: red;
      
}
#dropdown:hover .navmenu {
    display: block;
    border-color: red;
}

li a:hover {
background-color:  #b8b7b9;
color: white;
}
.paragraphs {
    display: flex;
    flex-direction: row;
    
}

.about_me {
    align-items: flex-start;
    
}

.firstSection {
    display: flex;
    border-color: red;
    background-color: silver;
    border: 5px

}
.sectionTitle {
    border-color: red;
    flex-direction: row;
    align-items: flex-start;
    
}
.description {
    border-color: seagreen;
    align-items: flex-end;
}
.fullAboutMe {
    width: 50%;
}
.skillTitle {
    display: flex;
    display: table-row;
    width: 100%;
    height: 10%
    
}
.skillsList {
    
    flex-wrap: wrap;
    display:flex ;
    max-height: 200px;
    justify-content: safe;
    
}

.socialLogos {
    display:flex;
    align-items: center;
    }
    img{
    height:75px;
    width:75px;
    }
    .Logos {
        display: flex;

    }
    .registration_form {
        width: 75%;
    }

